:root {
  --background1: rgba(227,225,236,1);
  /*#e2e0ea;*/
  --background2: rgba(244,244,247,1);
  /*#d4d1e0;*/
  --lightPink: #fee8de;
  --purple1: #584c7d;
  --purple2: #4f58ca;
  --salmonPink: #e1949f;
  --darkGrey: #ada7ad;
  --grey: #d2cbd2;
  --darkPurple: #383d61;
  --darkPurpleTransparent: rgba(59,65,86,0.85);
  --darkBlush: #9a6068;
}


@font-face {
  font-family: 'typicons';
  src: url("typicons.font-2.0.7/typicons.eot");
  src: url("typicons.font-2.0.7/typicons.eot?#iefix") format('embedded-opentype'),
       url("typicons.font-2.0.7/typicons.woff") format('woff'),
       url("typicons.font-2.0.7/typicons.ttf") format('truetype'),
       url("typicons.font-2.0.7/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  margin: 0px;
  padding-top: 0px;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position:absolute
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

th, td {
  padding: 8px;
  padding-bottom: 10px;
}

hr{
  border: 0;
  border-top: 2px solid var(--darkGrey);
  width: 60%;
  display: block;
}

/*Scroll to top button*/
a.back-to-top {
	display: none;
	width: 15%;
	height: 15%;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 1px;
	bottom: 20px;
	background: url("images/up-arrow.png") no-repeat center 43%;
}

/*STYLING FOR TOP MENU*/
#menu {
  transition: all .4s ease-in;
  position: fixed;
  float: left;
  list-style: none;
  margin: 0px;
  padding-top: 0px;
  margin-top: 0px;
  width: 100vw;
  z-index: 10000;
}

#menu li {
  float: left;
  font-size: 1.08em;
  margin: 0px 0px 0px 0px;
  padding: 0;
  padding-top: 0px;
  z-index: 10000;
  cursor: pointer;
}

#menu a {
  font-size: 20px;
  color: var(--lightPink);
  display: block;
  float: left;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  z-index: 10000;
}
#menu a:hover {
  color: white;
  z-index: 10000;
}

#header {
  transition: all .4s ease-in;
  height:43px;
  width: 100%;
  background-color: var(--darkPurple);
  position:fixed;
  z-index:7;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  top: 0;
  left: 0;
  display: none;
}

/* Menu icon styling */
.menuContainer {
  display: none;
  cursor: pointer;
  margin-right: 15px !important;
  padding-right: 7px;
  padding-left: 7px;
  right: 0;
  top: 0;
  position: fixed;
  z-index:8;
}

#mobileMenu {
  display: none;
  padding: 35px 25px;
  text-align: right;
  right:0;
  position: fixed;
  background-color: var(--darkPurple);
  width: 100%;
  position: fixed;
  z-index:8;
}

#mobileMenu ul{
  list-style: none;
  margin: 0 0 0 0;
}

#mobileMenu li{
  padding-top:4px;
  padding-bottom:4px;
  font-size: 18px;
}

#mobileMenu a{
  color: var(--lightPink);
  text-decoration: none;
}

.bar1, .bar2, .bar3 {
    width: 27px;
    height: 3px;
    background-color: var(--lightPink);
    margin: 8px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
    width: 28px;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*  show/hide menu/ portfolio pased on page with */
@media (max-width: 775px) {
  #menu     { display: none; }
  .menuContainer, #header { display: inline-block; }
  #mobilePortfolioTable { display:block; }
  #portfolioTable{ display:none; }
}


/*STYLING FOR EACH PAGE*/
#home{
  width: auto;
  height: 42vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg-1{
    /* background: var(--darkPurple); */
    background: linear-gradient(45deg, transparent 150px, var(--darkPurple) 50px);
    background-size:100% 42vw;
}

#meImg {
/* 670 885 */
  width: 45%;
  height: auto;
  margin: 10px;
  margin-left:120px;
  border:10px solid var(--lightPink);
  text-align: center;
  border-radius: 50px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

#aboutMe{
  width: auto;
  min-height: 370px;
  background: var(--background2);
}

#aboutMe p, #skills p{
  line-height: 145%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 30px;
  line-height: 1.9;
}

#australia, #worlds, #climbing{
  display: none;
}

#skills{
  width: auto;
  resize: both;
  min-height: 220px;
  background-color: var(--background2);
}

#skills span {
  color: var(--darkBlush);
}

#education{
  background-color: var(--background2);
  width: auto;
  resize: both;
  overflow: auto;
  min-height: 525px;
}

#portfolio {
  background-color: var(--background2);
  width: auto;
  display:block;
  overflow:auto;
}

#experience{
  background-color: var(--background2);
  width: auto;
  resize: both;
  overflow: auto;
  min-height: 300px;
}

#contactMe{
  background-color: var(--background2);
  width: auto;
  height: 287px;
}


/*STYLING FOR PORTFOLIO TABLE*/
.top {
  vertical-align: top;
}
#portfolioCell {
  position:relative;
}
#portfolioCell.image{
  width: auto;
  height: auto;
}
#portfolioCell.image,#portfolioCell .text {
  transition: opacity 0.4s ease-in-out;
}
#portfolioCell .text {
  position:absolute;
  opacity:0;
  color: black;
  font-weight: lighter;
  color: black;
  line-height: 1.8vw;
  font-size: 1.2vw;
  top: 10%;
  left: 7%;
  right: 8%;
  font-family: "Avenir", Avenir;
}
#portfolioCell:hover .image {
  position:relative;
  opacity:0.18;
  z-index: 0;
}
#portfolioCell:hover .text {
  opacity:1;
  font-weight: lighter;
  text-align: center;
  vertical-align: middle;
  color: black;
  line-height: 1.8vw;
  font-size: 1.2vw;
  top: 10%;
    left: 7%;
    right: 8%;
}

/*STYLING FOR EDUCATION DROP DOWN*/
.ac-container{
	margin: 50px 50px 50px 50px;
  float: inherit;
  padding: 4% 4% 4% 4%;
}
.ac-container label{
	padding: 2px 5px;
	position: relative;
	display: block;
	height: 30px;
	cursor: pointer;
	color: black;
	line-height: 33px;
	font-size: 17px;
  overflow: hidden;
}
.ac-container label:hover{
	background: var(--background1);
  color: var(--darkPurple);
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: var(--background1);
	color: var(--darkPurple);
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 65px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(images/arrow_down.png) no-repeat center;
}
.ac-container input:checked + label:hover:after{
	background-image: url(images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	transition:
		height 0.3s ease-in-out,
		box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
	transition:
		height 0.5s ease-in-out,
		box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
  width: 100%;
  height: auto;
  display: inline-block;
}
.ac-container article p{
	line-height: 23px;
	font-size: 15px;
	padding: 8px;
  font-family: "Avenir", Avenir;
}


#footer{
  text-align: right;
  background-color: var(--background2);
  margin: -5px 0px 0px 0px;
  padding: 0px 12px 10px 0px;
  height: 20px;
  line-height: 24px;
  color: var(--darkBlush);
  text-decoration: none;
}

.light {
  color: var(--lightPink);
}

.dark{
  color: var(--darkPurple);
}


@media screen and (min-width: 775px){

    #portfolioTable{
      display:block;
    }
    #mobilePortfolioTable {
      display:none;
    }

  p {
      display: block;
      margin-left: 0px;
      margin-right: 0px;
      padding-bottom: 15px;
      padding-left: 20px;
      font-size: 1.2em;
  }

  h1 {
    display: block;
    font-size: 3em;
    margin-left: 0.0px;
    padding-top: 15px;
    padding-left: 10px;
    color: var(--darkPurple);
    font-weight: bolder;
  }


  h2 {

      font-weight: bolder;
      display: block;
      font-size: 2em;
      margin-left: 0.0px;
      margin-right: 0.0px;
      padding-top: 15px;
      color: var(--darkPurple);
  }


  h3,h4{
    font-weight: bolder;
    padding-left: 10px;
    color: var(--darkPurple);
  }

  ul, menu, dir {
      display: block;
      list-style-type: disc;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 40px;
  }
}
  a, #footer, #climbingLink, #australiaLink, #worldsLink{
      color: var(--darkBlush);
      text-decoration: none;
  }

  .square{
    color: black;
    text-decoration: none;
  }

  /*contact me icon and text*/
  .icon {
    font-size: 70px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    color: var(--purple1) !important;
  }

  .icon:hover{
    color: var(--darkPurple) !important;
  }

  .contactText{
    color: var(--purple1)!important;
    font-size: 20px;
    text-decoration: none;
  }

  .contactText:hover{
    color: var(--darkPurple)!important;
    font-size: 20px;
  }

  #ACsubheader{
    font-weight: bolder;
    padding-left: 0px;
    margin-left: -5px;
  }
