:root {
  --background1: rgba(227,225,236,1);
  /*#e2e0ea;*/
  --background2: rgba(244,244,247,1);
  /*#d4d1e0;*/
  --lightPink: #fee8de;
  --purple1: #584c7d;
  --purple2: #4f58ca;
  --salmonPink: #e1949f;
  --darkGrey: #ada7ad;
  --grey: #d2cbd2;
  --darkPurple: #2d3254;
  --darkPurpleTransparent: rgba(59,65,86,0.85);
  --darkBlush: #9a6068;
}


@font-face {
  font-family: 'typicons';
  src: url("typicons.font-2.0.7/typicons.eot");
  src: url("typicons.font-2.0.7/typicons.eot?#iefix") format('embedded-opentype'),
       url("typicons.font-2.0.7/typicons.woff") format('woff'),
       url("typicons.font-2.0.7/typicons.ttf") format('truetype'),
       url("typicons.font-2.0.7/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  margin: 0px;
  padding-top: 0px;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

th, td {
  padding: 8px;
  padding-bottom: 10px;
}

hr{
  border: 0;
  border-top: 2px solid var(--darkGrey);
  width: 60%;
  display: block;
}

/*Scroll to top button*/
a.back-to-top {
	display: none;
	width: 15%;
	height: 15%;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 1px;
	bottom: 20px;
	background: url("images/up-arrow.png") no-repeat center 43%;
}

/*STYLING FOR TOP MENU*/
#menu {
  transition: all .4s ease-in;
  position: fixed;
  float: left;
  list-style: none;
  margin: 0px;
  padding-top: 0px;
  margin-top: 0px;
  width: 100%;
  z-index: 10000;
}

#menu li {
  float: left;
  font-size: 1.08em;
  margin: 0px 0px 0px 0px;
  padding: 0;
  padding-top: 0px;
  z-index: 10000;
  cursor: pointer;
}

#menu a {
  font-size: 20px;
  color: var(--lightPink);
  display: block;
  float: left;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  z-index: 10000;
}
#menu a:hover {
  color: white;
  z-index: 10000;
}

#header {
    height: 50px;
    width: 600px;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 10000;
}


/*STYLING FOR EACH PAGE*/
#home{
  width: 100%;
  height: 36.6vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg-1{
    background: url("images/sky.png") no-repeat top center fixed;
    background-size: contain;
    height: 100%;
}

#aboutMe{
  width: 100%;
  min-height: 370px;
  background: var(--background2);
}

#aboutMe p{
  line-height: 145%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 30px;
}

#australia, #worlds, #climbing{
  display: none;
}

#skills{
  width: 100%;
  resize: both;
  min-height: 220px;
  background-color: var(--background2);
}

#skills span {
  color: var(--darkBlush);
}

#education{
  background-color: var(--background2);
  width: 100%;
  resize: both;
  overflow: auto;
  min-height: 525px;
}


#experience{
  background-color: var(--background2);
  width: 100%;
  resize: both;
  overflow: auto;
  min-height: 300px;
}

#portfolio{
  background-color: var(--background2);
  width: 100%;
  display:block;
  overflow:auto;
}

#contactMe{ 
  background-color: var(--background2);
  width: 100%;
  height: 280px;
}


/*STYLING FOR PORTFOLIO TABLE*/
.top {
  vertical-align: top;
}
#portfolioCell {
  position:relative;
}
#portfolioCell.image{
  width: auto;
  height: auto;
}
#portfolioCell.image,#portfolioCell .text {
  transition: opacity 0.5s ease-in-out;
}
#portfolioCell .text {
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  color: black;
  font-weight: lighter;
  color: black;
  line-height: 1.8vw;
  font-size: 1.2vw;
  top: 10%;
  left: 7%;
  right: 8%;
  font-family: "Avenir", Avenir;
}
#portfolioCell:hover .image {
  position:relative;
  opacity:0.18;
  z-index: 0;
}
#portfolioCell:hover .text {
  opacity:1;
  font-weight: lighter;
  text-align: center;
  vertical-align: middle;
  color: black;
  line-height: 1.8vw;
  font-size: 1.2vw;
  top: 10%;
    left: 7%;
    right: 8%;
}

/*STYLING FOR EDUCATION DROP DOWN*/
.ac-container{
	width: 575px;
	margin: 10px auto 30px auto;
  float: inherit;
  padding: 0.5% 1% 1% 2.5%;
}
.ac-container label{
	padding: 2px 5px;
	position: relative;
	display: block;
	height: 30px;
	cursor: pointer;
	color: black;
	line-height: 33px;
	font-size: 17px;
}
.ac-container label:hover{
	background: var(--background1);
  color: var(--darkPurple);
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: var(--background1);
	color: var(--darkPurple);
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 65px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(images/arrow_down.png) no-repeat center;
}
.ac-container input:checked + label:hover:after{
	background-image: url(images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	/*z-index: 10;*/
	transition:
		height 0.3s ease-in-out,
		box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
	transition:
		height 0.5s ease-in-out,
		box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container article p{
	line-height: 23px;
	font-size: 14px;
	padding: 8px;
  font-family: "Avenir", Avenir;
}
.ac-container input:checked ~ article.ac-small{
	height: 80px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 120px;
}
.ac-container input:checked ~ article.ac-large{
	height: 190px;
}

#footer{
  text-align: right;
  position:fixed;
  margin: -3px 0px 0px 0px;
  padding: 0px 12px 0px 0px;
  top: 96.3vh;
  left: 0;
  right: 0;
  height: 20px;
  line-height: 24px;
  color: var(--darkBlush);
  text-decoration: none;
}

.light {
  color: var(--lightPink);
}

/* Menu icon styling */
.menuContainer {
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 10px !important;
  margin-bottom: 3px;
  /* padding-top: 1px; */
  padding-right: 3px;
  padding-left: 3px;
  /* padding-bottom: 3px; */
  background-color: var(--darkPurple);
  right: 0;
   top: 0;
  /* float: right;*/
  position: fixed;
  border: 1px solid var(--lightPink);
  border-radius: 4px;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: var(--lightPink);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (min-width: 	720px){
    .container{
      margin-left: auto;
      margin-right: auto;
    }

  p {
      display: block;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      padding-bottom: 15px;
      padding-left: 20px;
  }

  h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.0em;
    padding-top: 15px;
    padding-left: 10px;
    color: var(--darkPurple);
    font-weight: bolder;
  }


  h2 {
      font-weight: bolder;
      display: block;
      font-size: 1.5em;
      -webkit-margin-before: 0.0em;
      -webkit-margin-after: 0.83em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      padding-top: 15px;
      padding-left: 35px;
      color: var(--darkPurple);
  }


  h3,h4{
    font-weight: bolder;
    padding-left: 10px;
    color: var(--darkPurple);
  }

  ul, menu, dir {
      display: block;
      list-style-type: disc;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 40px;
  }

  a, #footer, #climbingLink, #australiaLink, #worldsLink{
      color: var(--darkBlush);
      text-decoration: none;
  }

  .square{
    color: black;
    text-decoration: none;
  }

  /*contact me icon and text*/
  .icon {
    font-size: 70px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    color: var(--purple1) !important;
  }

  .icon:hover{
    color: var(--darkPurple) !important;
  }

  .contactText{
    color: var(--purple1)!important;
    font-size: 20px;
    text-decoration: none;
  }

  .contactText:hover{
    color: var(--darkPurple)!important;
    font-size: 20px;
  }

  #ACsubheader{
    font-weight: bolder;
    padding-left: 0px;
    margin-left: -5px;
  }
}
