@font-face {
	font-family: "Eastman";
	font-weight: 400;
	src: url(./fonts/eastman/Eastman-Grotesque-Regular-trial.otf);
}

@font-face {
	font-family: "Eastman";
	font-weight: 500;
	src: url(./fonts/eastman/Eastman-Grotesque-Demi-Bold-trial.otf);
}

@font-face {
	font-family: "Eastman";
	font-weight: 800;
	src: url(./fonts/eastman/Eastman-Grotesque-Bold-trial.otf);
}

@font-face {
	font-family: "Eastman";
	font-weight: 900;
	src: url(./fonts/eastman/Eastman-Grotesque-Heavy-trial.otf);
}