@import "./fonts.scss";
@import "./mixins.scss";

:root {
	--purple-color: #2F3B69;
	--white-color: #FAFAFF;
	--blue-color: #3E829A;
	--beige-color: #E3DDDC;
	--brown-color: #5C4E4E;
	--section-sides: 5rem;
	--section-top: 3rem;

	@include mobile {
		--section-sides: 2.5rem;
	}
}

body {
    background-color: var(--purple-color);
    color: var(--white-color);
	font-family: "Eastman", Helvetica, Arial, sans-serif;
	margin: 0;
}

h1 {
	font-weight: 800;
	font-size: 3.4rem;
	line-height: 1;
}

h2 {
	font-size: 2.2rem;
	font-weight: 800;
}

h3 {
	font-size: 1.8rem;
	font-weight: 400;
}

p {
    font-size: 1.125rem;
	line-height: 1.6;
}

.button {
	font-family: "Eastman", Helvetica, Arial, sans-serif;
	background-color: var(--blue-color);
	color: var(--white-color);
	border: none;
	border-radius: 0.4rem;
	padding: 0.7rem 3rem;
	font-size: 1rem;
	font-weight: 800;
	cursor: pointer;

	&:hover {
		color: var(--blue-color);
		background-color: var(--white-color);
		transition: 0.3s color, background-color ease-in;
	}
}

.box {
	border-radius: 0.5rem;
    background-color: var(--white-color);
    padding: 2rem;
    color: var(--purple-color);
}